# Copy this file to .env — NEVER commit .env to GitHub!

# Flask secret key
SECRET_KEY=change-this-to-a-long-random-secret

# MongoDB Atlas connection string
# Replace with YOUR Atlas URI
# Add /cybermailguard_ict932 before the ?
MONGO_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/cybermailguard_ict932?retryWrites=true&w=majority&appName=Cluster0

FLASK_ENV=development

# OpenAI API Key (optional - app works without it)
OPENAI_API_KEY=your-openai-api-key-here
